* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fire Sans', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex: 1 1 0;
    max-width: 150px;
    padding: 2rem 1rem;
    background-color: #2e3047;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover {
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
}